<div class="ui segment">
    <h1 class="ui header">
        {{pageTitle}}
    </h1>
    <div class="ui grid">
        <div class="row">
            <div class="two wide column">Filter by:</div>
            <div class="four wide column">
                <input type="text" [(ngModel)]="listFilter">
            </div>
        </div>
        <div class="row">
            <div class="six wide column">
                <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div>
    </div>
    <table class="ui table" *ngIf='contracts && contracts.length'>
        <thead>
            <tr>
                <th>
                    <button class="ui primary button" (click)='toggleImage()'>
                        {{showImage ? 'Hide':'Show'}} Image
                    </button>
                </th>
                <th>Contract</th>
                <th>Details</th>
                <th>Status</th>
                <th>Tender Value</th>
                <th>Start Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contract of contracts">
                <td><img *ngIf="showImage" [src]="contract.imageUrl" [title]="contract.contractNumber" [style.width.px]='imageWidth'
                        [style.margin.px]='imageMargin'></td>
                <td>{{contract.contractNumber}}</td>
                <td>{{contract.details}}</td>
                <td>{{contract.status}}</td>
                <td>{{contract.tenderValue | currency:'GBP'}}</td>
                <td>{{contract.startDate | date:'mediumDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>